
@-webkit-keyframes fade-in {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}
@keyframes fade-in {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}


@-webkit-keyframes fold-down {
  0%    { -webkit-transform: perspective(50em) rotateX(-90deg); opacity: 0; }
  100%  { -webkit-transform: perspective(50em) rotateX(0deg); opacity: 1; }
}
@keyframes fold-down {
  0%    { transform: perspective(50em) rotateX(-90deg); opacity: 0; }
  100%  { transform: perspective(50em) rotateX(0deg); opacity: 1; }
}


@-webkit-keyframes tv-zoom {
  0%    { padding: 0 1em; border-width: 1em 1px; -webkit-transform: scale(0.01, 0.02); }
  60%   { border-right-width: 1px; border-left-width: 1px; -webkit-transform: scale(1, 0.03); }
  100%  { padding: 1em; border-width: 0; -webkit-transform: scale(1, 1); }
}
@keyframes tv-zoom {
  0%    { margin: 0 auto; border-width: 1em 1px; transform: scale(0.01, 0.02); }
  60%   { border-right-width: 1px; border-left-width: 1px; transform: scale(1, 0.03); }
  100%  { margin: 1em auto; border-width: 0; transform: scale(1, 1); }
}


@-webkit-keyframes tv-zoom2 {
  0%    { -webkit-transform: scale(0.01, 0.02); }
  60%   { -webkit-transform: scale(1, 0.03); }
  100%  { -webkit-transform: scale(1, 1); }
}
@keyframes tv-zoom2 {
  0%    { transform: scale(0.01, 0.02); }
  60%   { transform: scale(1, 0.03); }
  100%  { transform: scale(1, 1); }
}



@-webkit-keyframes tv-flash {
  0%    { opacity: 1; top: 0; bottom: 0; }
  60%   { opacity: 0.8; top: 0; bottom: 0; }
  90%   { opacity: 0.1; top: 0; bottom: 0; }
  100%  { opacity: 0; }
}
@keyframes tv-flash {
  0%    { opacity: 1; top: 0; bottom: 0; }
  60%   { opacity: 0.8; top: 0; bottom: 0; }
  90%   { opacity: 0.1; top: 0; bottom: 0; }
  100%  { opacity: 0; }
}


@-webkit-keyframes zoom {
  0%    { -webkit-transform: scaleY(0); }
  100%  { -webkit-transform: scaleY(1); }
}
@keyframes zoom {
  0%    { transform: scaleY(0); }
  100%  { transform: scaleY(1); }
}


@-webkit-keyframes glitch-in {
  0%    {opacity: 0;}
  10%   {opacity: 0.8;}
  15%   {opacity: 0;}
  35%   {opacity: 0;}
  36%   {opacity: 1;}
  38%   {opacity: 0;}
  60%   {opacity: 0;}
  63%   {opacity: 0.5;}
  65%   {opacity: 0;}
  90%   {opacity: 0;}
  92%   {opacity: 1;}
  94%   {opacity: 0;}
  100%  {opacity: 1;}
}
@keyframes glitch-in {
  0%    {opacity: 0;}
  10%   {opacity: 0.8;}
  15%   {opacity: 0;}
  35%   {opacity: 0;}
  36%   {opacity: 1;}
  38%   {opacity: 0;}
  60%   {opacity: 0;}
  63%   {opacity: 0.5;}
  65%   {opacity: 0;}
  90%   {opacity: 0;}
  92%   {opacity: 1;}
  94%   {opacity: 0;}
  100%  {opacity: 1;}
}


@-webkit-keyframes fade-in-out {
  0%    { opacity: 0; }
  50%   { opacity: 1; }
  100%  { opacity: 0; }
}
@keyframes fade-in-out {
  0%    { opacity: 0; }
  50%   { opacity: 1; }
  100%  { opacity: 0; }
}
