
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0.5em;
}

.overlay {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;

  iframe,
  .shield,
  .logo {
    position: absolute;
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
  }

  .shield {
    background: url(/img/scanline.gif) top left repeat;
    opacity: 0.15;
  }

  .logo {
    background-color: black;
    opacity: 0;
    -webkit-animation: fade-in 1s ease 2.5s 1 reverse;
    -moz-animation: fade-in 1s ease 2.5s 1 reverse;
    animation:  fade-in 1s ease 2.5s 1 reverse;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 500px;
      height: 500px;
      margin-top: -250px;
      margin-left: -250px;
    }
  }
}


//.header,
.body,
.footer {
  text-align: center;
  -webkit-animation: fade-in 2s ease 1s 1;
  -moz-animation: fade-in 2s ease 1s 1;
  animation: fade-in 2s ease 1s 1;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.header {
  text-align: center;
  .desktop & {
    transform-origin: center top;
    -webkit-animation: fold-down 2.3s ease-in-out 1s 1;
    -moz-animation: fold-down 2.3s ease-in-out 1s 1;
    animation: fold-down 2.3s ease-in-out 1s 1;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }
}

.footer {
  height: 70px;
}

.mobile {
  .body {
    min-height: 120px;
  }
  .wrapper > div {
    margin-bottom: 1em;
  }
}

.desktop {
  .wrapper {
    display: table;
    height: 100%;
    width: 100%;
    max-height: 100%;
  }

  .header,
  .body,
  .footer {
    display: table-row;
  }

  .header {
    height: 150px;
  }
}
