
.nav {
  /*background-color: #062606;*/
  background-color: #111;
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 1px solid #0a442a;
  border-color: rgba(30, 170, 100, 0.6);
  border-width: 1px 0;
  -webkit-animation: zoom 0.2s ease-out 2s 1;
  -moz-animation: zoom 0.2s ease-out 2s 1;
  -ms-animation: zoom 0.2s ease-out 2s 1;
  animation: zoom 0.2s ease-out 2s 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;

  .mobile &,
  .desktop & {
    display: inline-block;
    border-radius: 30px;
    border-width: 1px;
  }

  .mobile & {
    padding: 5px 1em;
    height: 12px;
    overflow: hidden;
    border: none;
    margin: 0 auto;
    max-width: 700px;

    &.expand {
      height: auto;
      height: 220px;
    }

    ul {
      text-align: left;
      list-style-type: none;
      /*margin: auto;
      max-width: 300px;*/

      &:after {
        content: " ";
        display: block;
        border-bottom: 1px dashed #0a442a;
        border-color: rgba(30, 170, 100, 0.6);
      }
    }

    li {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .toggle {
      display: block;

      span {
        position: relative;
        display: inline-block;
        vertical-align: top;

        &:before,
        &:after {
          content: " ";
          display: inline-block;
          vertical-align: middle;
          height: 2px;
          width: 30em;
          margin: 0 5px;
          position: absolute;
          bottom: 3px;
          border-top: 2px solid #0a442a;
          border-bottom: 6px double #0a442a;
        }
        &:before {
          right: 100%;
        }
        &:after {
          left: 100%;
        }
      }
    }
    &.expand .toggle span {
      &:before,
      &:after {
        border-color: #15b565;
      }
    }
  }

  .desktop & {
    ul {
      font-size: 0;
      padding: 5px 20px;
      display: block;
    }

    li {
      margin: 5px 0;
      display: inline-block;
    }

    .upper {
      border-bottom: 1px solid #0a442a;
      border-color: rgba(30, 170, 100, 0.6);
    }
  }

  a {
    font-size: 10px;
    line-height: 10px;
    font-family: "Apple II", "Lucida Console", Monaco, monospace;
    text-shadow: 0 0 2px rgba(0,0,0,0.8);
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #15b565;
    display: block;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    margin: 0 -9px;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &.active {
      color: #25d585;
      text-shadow: 0 0 6px rgba(30, 170, 100, 1), 0 0 12px rgba(30, 170, 100, 0.7);
    }

    .desktop & {
      &.toggle {
        display: none;
      }
    }

    .mobile & {
      font-size: 11px;
      line-height: 14px;
    }

    &.mute {
      color: #0b5c33;
      color: rgba(20, 180, 100, 0.5);
      margin-left: 2px;

      .mobile & {
        display: none;
      }

      &:before {
        content: "\2022";
        font-weight: bold;
        font-size: 200%;
        vertical-align: middle;
      }

      &.active {
        &:before {
          -webkit-animation: fade-in 1s alternate-reverse 0s infinite;
          -moz-animation: fade-in 1s alternate-reverse 0s infinite;
          -ms-animation: fade-in 1s alternate-reverse 0s infinite;
          animation: fade-in 1s alternate-reverse 0s infinite;
          -webkit-animation-fill-mode: both;
          -moz-animation-fill-mode: both;
          -ms-animation-fill-mode: both;
          animation-fill-mode: both;
        }
      }
    }
  }

  li {
    a {
      &:hover,
      &:focus {
        color: #25d585;
        text-shadow: 0 0 6px rgba(30, 170, 100, 1), 0 0 12px rgba(30, 170, 100, 0.7);
      }

      &:before,
      &:after {
        content: "\00B7";
        margin: 0 5px;
      }
    }

    &:nth-child(4n+0) {
      -webkit-animation: glitch-in 0.3s linear 2s 4;
      -moz-animation: glitch-in 0.3s linear 2s 4;
      -ms-animation: glitch-in 0.3s linear 2s 4;
      animation: glitch-in 0.3s linear 2s 4;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    &:nth-child(4n+3) {
      -webkit-animation: glitch-in 0.3s linear 2.2s 3;
      -moz-animation: glitch-in 0.3s linear 2.2s 3;
      -ms-animation: glitch-in 0.3s linear 2.2s 3;
      animation: glitch-in 0.3s linear 2.2s 3;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    &:nth-child(4n+1) {
      -webkit-animation: glitch-in 0.3s linear 2.3s 2;
      -moz-animation: glitch-in 0.3s linear 2.3s 2;
      -ms-animation: glitch-in 0.3s linear 2.3s 2;
      animation: glitch-in 0.3s linear 2.3s 2;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    &:nth-child(4n+2) {
      -webkit-animation: glitch-in 0.3s linear 2.5s 1;
      -moz-animation: glitch-in 0.3s linear 2.5s 1;
      -ms-animation: glitch-in 0.3s linear 2.5s 1;
      animation: glitch-in 0.3s linear 2.5s 1;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
}
