#SCwidget {
  .loading {
    line-height: 169px;
    background-image: url("/img/giphy.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 5px;
  }
  * + .loading {
    display: none;
  }
}
