@import url(font/stylesheet.css);
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fold-down {
  0% {
    -webkit-transform: perspective(50em) rotateX(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: perspective(50em) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes fold-down {
  0% {
    transform: perspective(50em) rotateX(-90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(50em) rotateX(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes tv-zoom {
  0% {
    padding: 0 1em;
    border-width: 1em 1px;
    -webkit-transform: scale(0.01, 0.02);
  }
  60% {
    border-right-width: 1px;
    border-left-width: 1px;
    -webkit-transform: scale(1, 0.03);
  }
  100% {
    padding: 1em;
    border-width: 0;
    -webkit-transform: scale(1, 1);
  }
}

@keyframes tv-zoom {
  0% {
    margin: 0 auto;
    border-width: 1em 1px;
    transform: scale(0.01, 0.02);
  }
  60% {
    border-right-width: 1px;
    border-left-width: 1px;
    transform: scale(1, 0.03);
  }
  100% {
    margin: 1em auto;
    border-width: 0;
    transform: scale(1, 1);
  }
}

@-webkit-keyframes tv-zoom2 {
  0% {
    -webkit-transform: scale(0.01, 0.02);
  }
  60% {
    -webkit-transform: scale(1, 0.03);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes tv-zoom2 {
  0% {
    transform: scale(0.01, 0.02);
  }
  60% {
    transform: scale(1, 0.03);
  }
  100% {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes tv-flash {
  0% {
    opacity: 1;
    top: 0;
    bottom: 0;
  }
  60% {
    opacity: 0.8;
    top: 0;
    bottom: 0;
  }
  90% {
    opacity: 0.1;
    top: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes tv-flash {
  0% {
    opacity: 1;
    top: 0;
    bottom: 0;
  }
  60% {
    opacity: 0.8;
    top: 0;
    bottom: 0;
  }
  90% {
    opacity: 0.1;
    top: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes zoom {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes glitch-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  15% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  38% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  63% {
    opacity: 0.5;
  }
  65% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  92% {
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glitch-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  15% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  38% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  63% {
    opacity: 0.5;
  }
  65% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  92% {
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0.5em;
}

.overlay {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay iframe,
.overlay .shield,
.overlay .logo {
  position: absolute;
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
}

.overlay .shield {
  background: url(/img/scanline.gif) top left repeat;
  opacity: 0.15;
}

.overlay .logo {
  background-color: black;
  opacity: 0;
  -webkit-animation: fade-in 1s ease 2.5s 1 reverse;
  -moz-animation: fade-in 1s ease 2.5s 1 reverse;
  animation: fade-in 1s ease 2.5s 1 reverse;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.overlay .logo img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;
}

.body,
.footer {
  text-align: center;
  -webkit-animation: fade-in 2s ease 1s 1;
  -moz-animation: fade-in 2s ease 1s 1;
  animation: fade-in 2s ease 1s 1;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.header {
  text-align: center;
}

.desktop .header {
  transform-origin: center top;
  -webkit-animation: fold-down 2.3s ease-in-out 1s 1;
  -moz-animation: fold-down 2.3s ease-in-out 1s 1;
  animation: fold-down 2.3s ease-in-out 1s 1;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.footer {
  height: 70px;
}

.mobile .body {
  min-height: 120px;
}

.mobile .wrapper > div {
  margin-bottom: 1em;
}

.desktop .wrapper {
  display: table;
  height: 100%;
  width: 100%;
  max-height: 100%;
}

.desktop .header,
.desktop .body,
.desktop .footer {
  display: table-row;
}

.desktop .header {
  height: 150px;
}

/* HEADER */
h1 {
  margin-bottom: 0;
}

h1 a {
  display: block;
  letter-spacing: 1em;
  padding-top: 70px;
  padding-left: 1em;
  direction: ltr;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center 70%;
}

.desktop h1 a {
  background-image: url(../img/logo_white_w320.png);
}

.mobile h1 a {
  padding-top: 40px;
  letter-spacing: 0.6em;
  padding-left: 0.05em;
  background-image: url(../img/logo_w300.gif);
}

.mobile h1 {
  margin-bottom: 0.25em;
}

@media (max-width: 299px) {
  h1 {
    background-size: 98%;
  }
}

.lead {
  font-weight: 100;
  font-family: "DOT2";
  font-family: "Apple II", "Lucida Console", Monaco, monospace;
  font-size: 9.5px;
  color: #fff5c8;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 5px 8px 3px;
  border: thin solid #fff5c8;
  border-radius: 10px;
  text-shadow: 0 0 10px #fff5c8, 0 0 20px #fff5c8;
  box-shadow: 0 0 12px rgba(255, 245, 200, 0.5);
}

.desktop .lead:before, .desktop .lead:after {
  content: " ";
  height: 0;
  width: 20em;
  border-bottom: thin solid #057535;
  border-color: #1779bf;
  border-color: #fff5c8;
  display: block;
  position: absolute;
  bottom: 45%;
  box-shadow: 0 0 6px #fff5c8, 0 0 12px #fff5c8;
}

.desktop .lead:before {
  right: 100%;
}

.desktop .lead:after {
  left: 100%;
}

.mobile .lead {
  margin-bottom: 10px;
}

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.nav {
  /*background-color: #062606;*/
  background-color: #111;
  background-color: rgba(20, 20, 20, 0.6);
  background-color: rgba(20, 70, 20, 0.6);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 1px solid #0a442a;
  border-color: rgba(30, 170, 100, 0.6);
  border-width: 1px 0;
  -webkit-animation: zoom 0.2s ease-out 2s 1;
  -moz-animation: zoom 0.2s ease-out 2s 1;
  animation: zoom 0.2s ease-out 2s 1;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  max-width: 700px;
  margin: 10px auto 0;
  overflow: visible;
  border-radius: 10px;
  box-sizing: border-box;
}

.nav li {
  display: inline-block;
  list-style-type: none;
  z-index: 10;
}

.nav li a:hover, .nav li a:focus {
  color: #25d585;
  text-shadow: 0 0 6px #1eaa64, 0 0 12px rgba(30, 170, 100, 0.7);
}

.nav li a:before {
  content: "\00B7";
  margin: 0 5px 0 0;
}

.nav li:nth-child(4n+0) {
  -webkit-animation: glitch-in 0.3s linear 2s 4;
  -moz-animation: glitch-in 0.3s linear 2s 4;
  animation: glitch-in 0.3s linear 2s 4;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.nav li:nth-child(4n+1) {
  -webkit-animation: glitch-in 0.3s linear 2.3s 2;
  -moz-animation: glitch-in 0.3s linear 2.3s 2;
  animation: glitch-in 0.3s linear 2.3s 2;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.nav li:nth-child(4n+2) {
  -webkit-animation: glitch-in 0.3s linear 2.5s 1;
  -moz-animation: glitch-in 0.3s linear 2.5s 1;
  animation: glitch-in 0.3s linear 2.5s 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.nav li:nth-child(4n+3) {
  -webkit-animation: glitch-in 0.3s linear 2.2s 3;
  -moz-animation: glitch-in 0.3s linear 2.2s 3;
  animation: glitch-in 0.3s linear 2.2s 3;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.nav .dropdown {
  position: relative;
}

.nav .dropdown > a:after {
  content: url(/img/arrowDown.svg);
  margin-left: 5px;
  transition-duration: 0.5s;
  transition-delay: 0.3s;
  position: relative;
  top: 0;
}

.nav .dropdown:hover > a:after,
.nav .dropdown > a:focus:after {
  opacity: 0;
  transition-delay: 0s;
  top: 5px;
}

.nav .dropdown:hover .menu,
.nav .dropdown > a:focus + .menu {
  opacity: 1;
}

.nav .dropdown:hover .menu li,
.nav .dropdown > a:focus + .menu li {
  opacity: 1;
  margin-top: 0;
}

.nav .menu {
  opacity: 0;
  position: absolute;
  top: 100%;
  background-color: rgba(20, 70, 20, 0.7);
  border: 1px solid #0a442a;
  border-color: rgba(30, 170, 100, 0.6);
  border-width: 0 1px;
  text-align: left;
  margin-left: -1px;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
  counter-reset: item;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.nav .menu:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.2);
}

.mobile .nav .menu {
  top: calc(100% + 5px);
}

.nav .menu li {
  opacity: 0;
  counter-increment: item;
  -webkit-animation: none 0 ease;
  -moz-animation: none 0 ease;
  animation: none 0 ease;
  animation-fill-mode: none;
  transition: all 0.1s linear 0s, opacity 0.4s linear 0.1s;
  display: block;
  margin-top: -25px;
  margin-right: 10px;
}

.nav .menu li:first-child {
  padding-top: 5px;
}

.nav .menu li:last-child {
  padding-bottom: 5px;
}

.nav .menu li:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.nav .menu li:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.nav .menu li:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.nav .menu li:nth-child(4) {
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.nav .menu li:nth-child(5) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.mobile .nav,
.desktop .nav {
  display: block;
}

.mobile .nav {
  border-width: 1px 0px;
  border-radius: 0;
  margin: 0 auto;
  max-width: 700px;
}

.mobile .nav.expand {
  height: auto;
  height: 220px;
}

.mobile .nav ul {
  text-align: left;
  list-style-type: none;
  /*margin: auto;
      max-width: 300px;*/
}

.mobile .nav li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mobile .nav .toggle {
  display: block;
}

.mobile .nav .toggle span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mobile .nav .toggle span:before, .mobile .nav .toggle span:after {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  width: 30em;
  margin: 0 5px;
  position: absolute;
  bottom: 3px;
  border-top: 2px solid #0a442a;
  border-bottom: 6px double #0a442a;
}

.mobile .nav .toggle span:before {
  right: 100%;
}

.mobile .nav .toggle span:after {
  left: 100%;
}

.mobile .nav.expand .toggle span:before, .mobile .nav.expand .toggle span:after {
  border-color: #15b565;
}

.nav a {
  font-size: 10px;
  line-height: 10px;
  font-family: "Apple II", "Lucida Console", Monaco, monospace;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #15b565;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  padding: 5px;
}

.nav a:hover, .nav a:active, .nav a:focus {
  text-decoration: none;
}

.nav a.active {
  color: #25d585;
  text-shadow: 0 0 6px #1eaa64, 0 0 12px rgba(30, 170, 100, 0.7);
}

.desktop .nav a.toggle {
  display: none;
}

.mobile .nav a {
  font-size: 11px;
  line-height: 14px;
}

.nav a.mute {
  color: #0b5c33;
  color: rgba(20, 180, 100, 0.5);
}

.mobile .nav a.mute {
  display: none;
}

.nav a.mute:before {
  content: "\2022";
  font-weight: bold;
  font-size: 200%;
  vertical-align: middle;
  line-height: 0;
}

.nav a.mute.active:before {
  -webkit-animation: fade-in 1s alternate-reverse 0s infinite;
  -moz-animation: fade-in 1s alternate-reverse 0s infinite;
  animation: fade-in 1s alternate-reverse 0s infinite;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/** BODY **/
.body .container {
  width: 100%;
  max-width: 700px;
  margin: 1em auto;
  padding: 1em;
  font-family: "edit_undo", "Futura", "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  color: #d32;
  text-shadow: 0 0 10px #aa281e;
  background-color: #181111;
  /* background-color: rgba(40,20,20,0.4); */
  background-color: rgba(30, 20, 20, 0.7);
  box-shadow: 0 0 5px rgba(20, 10, 10, 0.8);
  border-radius: 3px;
  overflow: hidden;
  border: 0 solid white;
  box-sizing: border-box;
  -webkit-animation: tv-zoom2 0.3s ease-in-out 0s 1;
  -moz-animation: tv-zoom2 0.3s ease-in-out 0s 1;
  animation: tv-zoom2 0.3s ease-in-out 0s 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.body .container:after {
  content: " ";
  position: absolute;
  top: 100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ffe7dd;
  border-radius: 3px;
  -webkit-animation: tv-flash 0.3s linear 0s 1;
  -moz-animation: tv-flash 0.3s linear 0s 1;
  animation: tv-flash 0.3s linear 0s 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.body img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.img-wrap {
  position: relative;
  font-size: 0;
  line-height: 0;
  box-shadow: 0 0 30px rgba(170, 65, 50, 0.6);
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.img-wrap:before {
  content: " ";
  display: block;
  padding-top: 100%;
}

.img-wrap:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(200, 100, 100, 0.1);
}

.img-banner {
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
  position: relative;
  padding: 1em;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.8) inset;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.img-banner:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(30, 20, 20, 0.95);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mobile .img-banner {
  padding: 0;
}

.body h2 {
  text-transform: uppercase;
  -webkit-animation: glitch-in 0.4s linear 0s 2;
  -moz-animation: glitch-in 0.4s linear 0s 2;
  animation: glitch-in 0.4s linear 0s 2;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.mobile .body h2 {
  font-size: 1.2em;
}

.body h2 + p {
  -webkit-animation: glitch-in 0.4s linear 0.5s 1;
  -moz-animation: glitch-in 0.4s linear 0.5s 1;
  animation: glitch-in 0.4s linear 0.5s 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.body ol,
.body p {
  font-size: 16px;
  line-height: 18px;
}

.mobile .body ol, .mobile
.body p {
  font-size: 12px;
  line-height: 14px;
}

.body small,
.body li:before {
  color: #a11;
}

.body li:before,
.body li small {
  display: inline-block;
  font-size: 13px;
  margin-top: 1px;
}

.mobile .body li:before, .mobile
.body li small {
  font-size: 10px;
}

.body li:nth-child(4n+0) {
  -webkit-animation: glitch-in 0.2s linear 0.5s 3;
  -moz-animation: glitch-in 0.2s linear 0.5s 3;
  animation: glitch-in 0.2s linear 0.5s 3;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.body li:nth-child(4n+3) {
  -webkit-animation: glitch-in 0.3s linear 0.7s 2;
  -moz-animation: glitch-in 0.3s linear 0.7s 2;
  animation: glitch-in 0.3s linear 0.7s 2;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.body li:nth-child(4n+1) {
  -webkit-animation: glitch-in 0.4s linear 0.6s 1;
  -moz-animation: glitch-in 0.4s linear 0.6s 1;
  animation: glitch-in 0.4s linear 0.6s 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.body li:nth-child(4n+2) {
  -webkit-animation: glitch-in 0.3s linear 0.9s 1;
  -moz-animation: glitch-in 0.3s linear 0.9s 1;
  animation: glitch-in 0.3s linear 0.9s 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.body .tracklist {
  display: table;
  width: 100%;
  border-top: thin solid #752015;
  border-bottom: thin solid #752015;
  padding-top: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.body .tracklist ol {
  list-style-type: none;
  counter-reset: item;
  text-align: left;
}

@media (min-width: 580px) {
  .desktop .body .tracklist ol:not(:only-child) {
    display: table-cell;
    width: 50%;
    padding-right: 0.5em;
  }
  .desktop .body .tracklist ol:nth-child(even) {
    padding-right: 0;
    padding-left: 0.5em;
  }
}

.body .tracklist li {
  padding-left: 25px;
  padding-right: 60px;
  clear: left;
}

.mobile .body .tracklist li {
  padding-left: 20px;
}

.body .tracklist li:before {
  content: counter(item) ":";
  counter-increment: item;
  margin-left: -25px;
  float: left;
}

.mobile .body .tracklist li:before {
  margin-left: -20px;
}

.body .tracklist li small {
  float: right;
  margin-right: -60px;
}

.body .tracklist li small:before {
  content: " - ";
}

.body .tracklist .playing:after {
  content: "\25B6";
  font-size: 12px;
  color: #e54;
  text-shadow: 0 0 10px #ee5544;
  -webkit-animation: fade-in 1s alternate-reverse 0s infinite;
  -moz-animation: fade-in 1s alternate-reverse 0s infinite;
  animation: fade-in 1s alternate-reverse 0s infinite;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.body a.close {
  border-top: thin solid #752015;
  color: #d32;
  margin-top: 1em;
  padding-top: 1em;
  display: block;
}

.mobile .body a.close {
  display: none;
}

#SCwidget .loading {
  line-height: 169px;
  background-image: url("/img/giphy.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  border-radius: 5px;
}

#SCwidget * + .loading {
  display: none;
}

.about li {
  text-align: left;
  list-style-type: none;
  position: relative;
  margin-left: 50px;
}

.about li:after {
  content: " ";
  height: 0;
  width: 100%;
  border-bottom: thin solid #752015;
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0;
  box-shadow: 0 0 10px #aa281e;
}

.about li .pre {
  font-size: 120%;
  margin-top: 1em;
  margin-left: -50px;
}

.about li p + p {
  font-size: 11px;
  line-height: 14px;
  font-family: "Apple II", "Lucida Console", Monaco, monospace;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.mobile .about li p + p {
  font-size: 10px;
  line-height: 13px;
}

/** FOOTER **/
.copyright {
  font-size: 7pt;
  font-weight: bold;
  color: #444;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */