<div class="container about">
  <h2>About DYNATRON</h2>
  <p>
    Interplanetary synth music.<br>
    Inspired by space and science-fiction, movies and soundtracks.
    In particular Jean-Michel Jarre, Alien, Blade Runner and 80's rock.
  </p>
  <h3>Timeline</h3>
  <ul>
    <li>
      <p class="pre">2017</p>
      <p>
        Dynatron is working on the third album while playing various shows in Europe with, among others artists, College (FR), Daniel Deluxe (DK) and Christine (FR).
      </p>
    </li>
    <li>
      <p class="pre">2016</p>
      <p>
        Dynatron signs with finnish label Blood Music.
        One of the biggest and most prolific labels in the genre, also harboring major artists Perturbator (FR), Gost (US) and Dan Terminus (FR).</p>
      <p>
        The first live shows are performed in October/November in France, Finland and Hungary.
      </p>
      <p>
        On November 4 the "The Rigel Axiom" EP is released on Blood Music.
      </p>
    </li>
    <li>
      <p class="pre">2015</p>
      <p>On September 4 the second album entitled "Aeternus" is released by Aphasia Records.</p>
      <p>The album is very well received and highly rated among fans and reviewers with words as "masterpiece", "meticulous" and "cinematic".</p>
    </li>
    <li>
      <p class="pre">2014</p>
      <p>On May 23 the movie "Cold in July" hit the theaters (USA) featuring "Cosmo Black" from the "Fireburner" EP.</p>
      <p>On September 25 the "Throttle Up" EP is released by Rad Rush Records.</p>
    </li>
    <li>
      <p class="pre">2013</p>
      <p>On May 5 the "Flashbacks" EP is released by Aphasia Records.</p>
    </li>
    <li>
      <p class="pre">2012</p>
      <p>DYNATRON has arrived.</p>
      <p>The first 4 tracks is published on Soundcloud during April and May.</p>
      <p>On September 8 the "Fireburner" EP is released.</p>
      <p>On November 22 the first album entitled "Escape Velocity" is relased by Aphasia Records.</p>
    </li>
  </ul>
  <a href="#close" class="close">Close</a>
</div>
