<div class="container about">
  <h2>About DYNATRON</h2>
  <p><small>An Introduction</small></p>
  <ul>
    <li>
      <p class="pre">2012</p>
      <p>DYNATRON is here. The first 4 tracks is published on Soundcloud during April and May. The first EP "Fireburner EP" is announced in August and released on September 8 by Aphasia Records.</p>
      <p>A few exclusive tracks and remixes is published before the first album entitled "Escape Velocity" is announced and relased on November 22, again by the fast growing Aphasia Records.</p>
    </li>
    <li>
      <p class="pre">2013</p>
      <p>On May 5 the "Flashbacks EP" is released.</p>
    </li>
    <li>
      <p class="pre">2014</p>
      <p>On September 25 the "Throttle Up EP" is released.</p>
    </li>
    <li>
      <p class="pre">2015</p>
      <p>The second album "Aeternus" is set for release in the second quarter of 2015.
    </li>
  </ul>
  <a href="#close" class="close">Close</a>
</div>