<div class="container">
  <div class="img-banner" style="background-image: url(/img/aeternus-teaser1-banner.jpg);">
    <div class="img-wrap">
      <img src="/img/aeternus-teaser1-thumb.jpg" srcset="/img/aeternus-teaser1-medium.jpg" />
    </div>
  </div>
  <h2>Aeternus</h2>
  <p><small>Album - T.B.A.</small></p>
  <div class="tracklist">
    <ol>
      <li>Hyperion Sunrise<small>2:38</small></li>
      <li>Aeternus Theme<small>4:40</small></li>
      <li>The Outer Rims Of Traversed Space<small>5:26</small></li>
      <li>Towards The Island Universe<small>4:35</small></li>
      <li>Fluorescence Of The Cepheids<small>4:18</small></li>
      <li>Out There<small>2:31</small></li>
    </ol>
    <ol style="counter-reset: item 6;">
      <li>Descend<small>4:29</small></li>
      <li>Travelling The Wastelands<small>6:33</small></li>
      <li>Not Of This World<small>4:39</small></li>
      <li>Escape<small>6:24</small></li>
      <li>Hypersonic<small>4:42</small></li>
      <li>A Beacon From Home<small>4:49</small></li>
    </ol>
  </div>
  <span>Pay close attention...</span>
  <a href="#close" class="close">Close</a>
</div>
