<div class="container">
  <div class="img-wrap">
    <img src="/img/aeternus-cover-thumb.jpg" srcset="/img/aeternus-cover-medium.jpg" />
  </div>
  <h2>Aeternus</h2>
  <p><small>Album - 09.04.2015</small></p>
  <div class="tracklist">
    <ol>
      <li data-offset="0">Hyperion Sunrise<small>2:35</small></li>
      <li data-offset="8500">Aeternus Theme<small>4:38</small></li>
      <li data-offset="42000">The Outer Rims Of Traversed Space<small>5:26</small></li>
      <li data-offset="75000">Towards The Island Universe<small>4:34</small></li>
      <li data-offset="109000">Fluorescence Of The Cepheids<small>4:15</small></li>
      <li data-offset="144000">Out There<small>2:31</small></li>
    </ol>
    <ol style="counter-reset: item 6;">
      <li data-offset="180000">Descend<small>4:28</small></li>
      <li data-offset="218000">Travelling The Wastelands<small>6:25</small></li>
      <li data-offset="253000">Not Of This World<small>4:38</small></li>
      <li data-offset="288000">Escape<small>6:21</small></li>
      <li data-offset="325000">Hypersonic<small>4:36</small></li>
      <li data-offset="359000">A Beacon From Home<small>4:48</small></li>
    </ol>
  </div>
  <div id="SCwidget" data-oembed="https://soundcloud.com/oembed?url=https%3A//soundcloud.com/dynatronsynth/aeternus-album-sampler&amp;format=json&amp;color=dd3322&amp;maxheight=166" data-delay="1400">
    <div class="loading">Loading audio...</div>
  </div>
  <a href="#close" class="close">Close</a>
</div>
