<div class="container">
  <div class="img-banner" style="background-image: url(/img/D-500x500-banner.jpg);">
    <div class="img-wrap">
      <img src="/img/D-500x500-thumb.jpg" srcset="/img/D-500x500-medium.jpg" />
    </div>
  </div>
  <h2>Aeternus</h2>
  <p><small>Album - T.B.A.</small></p>
  <div class="tracklist">
    <ol>
      <li>T.B.A.</li>
      <li>T.B.A.</li>
      <li>T.B.A.</li>
      <li>T.B.A.</li>
      <li>T.B.A.</li>
      <li>T.B.A.</li>
    </ol>
    <ol style="counter-reset: item 6;">
      <li>T.B.A.</li>
      <li>T.B.A.</li>
      <li>T.B.A.</li>
      <li>T.B.A.</li>
      <li>T.B.A.</li>
      <li>T.B.A.</li>
    </ol>    
  </div>
  <span>Pay close attention...</span>
  <a href="#close" class="close">Close</a>
</div>