<div class="container">
  <div class="img-banner" style="background-image: url(/img/escape-velocity-cover-banner.jpg);">
    <div class="img-wrap">
      <img src="/img/escape-velocity-cover-thumb.jpg" srcset="/img/escape-velocity-cover-medium.jpg" />
    </div>
  </div>
  <h2>Escape Velocity</h2>
  <p><small>Album - 11.22.2012</small></p>
  <div class="tracklist">
    <ol>
      <li data-offset="0">Space Operators<small>04:35</small></li>
      <li data-offset="37500">Fireburner<small>03:57</small></li>
      <li data-offset="75000">Propulsion Overdrive<small>05:15</small></li>
      <li data-offset="110000">Aurora Nights<small>08:24</small></li>
      <li data-offset="153000">Vox Magnetismi<small>03:45</small></li>
    </ol>
    <ol style="counter-reset: item 5;">
      <li data-offset="190000">The Pulsating Nebula<small>06:19</small></li>
      <li data-offset="223000">Andromeda Bleeding<small>06:04</small></li>
      <li data-offset="261000">Pulse Power<small>06:03</small></li>
      <li data-offset="297500">Wormhole<small>04:46</small></li>
    </ol>
  </div>
  <div id="SCwidget" data-oembed="http://soundcloud.com/oembed?url=https%3A//soundcloud.com/dynatronsynth/escape-velocity-album-sampler&amp;format=json&amp;color=dd3322&amp;maxheight=166" data-delay="1400">
    <span class="loading">Loading audio...</span>
  </div>
  <!-- <iframe id="SC" width="100%" height="116" scrolling="no" frameborder="no" data-src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/68698771&amp;color=dd3322&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe> -->
  <a href="#close" class="close">Close</a>
</div>
