<div class="container">
  <div class="img-wrap">
    <img src="/img/legacy-vol-ii-cover-thumb.jpg" srcset="/img/legacy-vol-ii-cover-thumb.jpg 200w, /img/legacy-vol-ii-cover-medium.jpg 500w, /img/legacy-vol-ii-cover-large.jpg 800w" />
  </div>
  <h2>The Legacy Collection, Vol II</h2>
  <p><small>Album - 12.20.2016</small></p>
  <div class="tracklist">
    <ol>
      <li>Stars of the Night <small>05:48</small></li>
      <li>Dust of the Saturn <small>05:20</small></li>
      <li>Jovian Giants <small>05:37</small></li>
      <li>Out of the Center <small>05:51</small></li>
    </ol>
    <ol style="counter-reset: item 4;">
      <li>Unquestionable Judgement <small>04:50</small></li>
      <li>Excellerator <small>05:43</small></li>
      <li>Electromagnetic (bonus) <small>05:12</small></li>
      <li>Visions (bonus) <small>04:52</small></li>
    </ol>
  </div>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1737083506/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=none/transparent=true/" seamless><a href="http://dynatron.bandcamp.com/album/the-legacy-collection-vol-ii">The Legacy Collection, Vol II by Dynatron</a></iframe>
  <a href="#close" class="close">Close</a>
</div>
