<div class="container">
  <div class="img-wrap">
    <img src="/img/legacy-vol-i-cover-thumb.jpg" srcset="/img/legacy-vol-i-cover-thumb.jpg 200w, /img/legacy-vol-i-cover-medium.jpg 500w, /img/legacy-vol-i-cover-large.jpg 800w" />
  </div>
  <h2>The Legacy Collection, Vol I</h2>
  <p><small>Album - 12.20.2016</small></p>
  <div class="tracklist">
    <ol>
      <li>Throttle Up<small>03:58</small></li>
      <li>Rise to the Stars<small>04:59</small></li>
      <li>37 Million Horsepower<small>04:36</small></li>
      <li>Intergalactic Highway<small>04:28</small></li>
      <li>Intro<small>01:17</small></li>
    </ol>
    <ol style="counter-reset: item 5;">
      <li>On the Edge of Space<small>04:43</small></li>
      <li>Save the Moment<small>04:32</small></li>
      <li>Cruiser<small>04:12</small></li>
      <li>Zero Gravity<small>03:52</small></li>
      <li>Cosmo Black<small>04:26</small></li>
    </ol>
  </div>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2099258721/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=none/transparent=true/" seamless><a href="http://dynatron.bandcamp.com/album/the-legacy-collection-vol-i">The Legacy Collection, Vol I by Dynatron</a></iframe>
  <a href="#close" class="close">Close</a>
</div>
