<div class="container">
  <!-- <div class="img-banner" style="background-image: url(/img/rigelaxiom-ep-cover-banner.jpg);">
    <div class="img-wrap">
      <img src="/img/rigelaxiom-ep-cover-thumb.jpg" srcset="/img/rigelaxiom-ep-cover-thumb.jpg 200w, /img/rigelaxiom-ep-cover-medium.jpg 500w" />
    </div>
  </div> -->
  <div class="img-wrap">
    <img src="/img/rigelaxiom-ep-cover-thumb.jpg" srcset="/img/rigelaxiom-ep-cover-thumb.jpg 200w, /img/rigelaxiom-ep-cover-medium.jpg 500w" />
  </div>
  <h2>The Rigel Axiom</h2>
  <p><small>EP - 11.04.2016</small></p>
  <div class="tracklist">
    <ol>
      <li>The Tristar<small>4:25</small></li>
      <li>Contact<small>5:08</small></li>
      <li>Stones<small>4:31</small></li>
    </ol>
    <ol style="counter-reset: item 3;">
      <li>Storms<small>6:14</small></li>
      <li>The Unknown<small>4:00</small></li>
    </ol>
  </div>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1380944627/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/artwork=none/transparent=true/" seamless><a href="http://dynatron.bandcamp.com/album/the-rigel-axiom">The Rigel Axiom by Dynatron</a></iframe>
  <a href="#close" class="close">Close</a>
</div>
