<div class="container">
  <div class="img-wrap">
    <img src="/img/throttle-up-ep-cover-thumb.jpg" srcset="/img/throttle-up-ep-cover-medium.jpg" />
  </div>
  <h2>Throttle Up</h2>
  <p><small>EP - 09.25.2014</small></p>
  <div class="tracklist">
    <ol>
      <li data-offset="0">Throttle Up<small>03:58</small></li>
      <li data-offset="36500">Rise To The Stars<small>04:59</small></li>
    </ol>
    <ol style="counter-reset: item 2;">
      <li data-offset="82500">37 Million Horsepower<small>04:36</small></li>
      <li data-offset="129000">Intergalactic Highway<small>04:28</small></li>
    </ol>
  </div>
  <div id="SCwidget" data-oembed="http://soundcloud.com/oembed?url=https%3A//soundcloud.com/rad-rush-records/dynatron-throttle-up-ep-teaser-release-day-september-25&amp;format=json&amp;color=dd3322&amp;maxheight=166" data-delay="1400">
    <div class="loading">Loading audio...</div>
  </div>
  <!-- <iframe width="100%" height="116" scrolling="no" frameborder="no" data-src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/164320387&amp;color=dd3322&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe> -->
  <a href="#close" class="close">Close</a>
</div>
